
@model ViewModel
@{

}

@if (TempData["Erro"] != null)
{
    <p class="alert alert-danger">@TempData["Erro"]</p>
}

<div class="Cadastrar bg-light rounded-3 p-5">

    <h1 class="text-center">
        @(Model.Aluno.matricula == 0 ? "Cadastrar aluno" : "Editar aluno")
    </h1>
    <form asp-controller="Aluno" asp-action= "@(Model.Aluno.matricula == 0 ? "CadastrarAluno" : "EditarAluno")" method="post">
        <div class="mb-3">
     
            <label asp-for="Aluno.matricula" class="form-label">Matrícula</label>
            @if (Model.Aluno.matricula != 0)
            {
                <input type="number" class="form-control" asp-for="Aluno.matricula" id="matricula" placeholder="Digite o número da matrícula" disabled>
            }
            else
            {
                <input type="number" class="form-control" asp-for="Aluno.matricula" id="matricula" placeholder="Digite o número da matrícula">
            }
            

        </div>

        <div class="mb-3">
            <label asp-for="Aluno.nome" class="form-label">Nome</label>
            <input type="text" class="form-control" asp-for="Aluno.nome" id=" alunoNome" placeholder="Digite o nome do aluno">
        </div>


        <div class="mb-3">
            <label asp-for="Aluno.CPF" class="form-label">CPF</label>
            <input type="text" class="form-control" asp-for="Aluno.CPF" id=" CPF" placeholder="Digite o CPF do aluno">
        </div>


        <div class="mb-3">
            <label asp-for="Aluno.dtNascimento" class="form-label">Data de nascimento</label>
            <input type="date" class="form-control" asp-for="Aluno.dtNascimento" id=" CPF">
        </div>

        <div id="cidade">
            <label>Cidade</label>
            <select class="form-select" asp-for="Aluno.cidadeID_">
                <option selected>Selecione sua cidade</option>
                @foreach (var c in Model.Cidade)
                {
                    <option value="@c.cidadeID">@c.cidadeNome (@c.cidadeUF)</option>

                }
            </select>

        </div>
        <div id="sexo" class="mb-3 d-flex flex-column">
            <label>Sexo</label>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" asp-for="Aluno.sexo" id="inlineRadio1" value="Masculino">
                <label class="form-check-label" asp-for="Aluno.sexo">Masculino</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" asp-for="Aluno.sexo" id="inlineRadio2" value="Feminino">
                <label class="form-check-label" asp-for="Aluno.sexo">Feminino</label>
            </div>

        </div>

        <div class="Botoes d-flex gap-2 justify-content-center mt-4 ">
            <button type="submit" class="btn btn-success w-25 ">
                @(Model.Aluno.matricula == 0 ? "Cadastrar" : "Editar")
            </button>
            <a asp-controller="Aluno" asp-action="ListarAlunos" class="btn btn-primary w-25">Voltar</a>
        </div>
    </form>
</div>
